
body{
    margin:0px;
}
#navbar{
    z-index: 2;
    display:flex;
    justify-content:space-between;
    padding:10px;
    margin: 0;
    height: 65px;
    align-items:center;
    position:sticky;
    top: 0;
    left: 0;
    width:100%;
    border-bottom: 1px solid rgb(197, 191, 191);
    background-color: #10847e;
}
#navbar>a>img{
margin-left: 70px;
height:53px;

}
#navbar>div>a>img{
    width:22px;
}
a,u{
    text-decoration: none;
}
#navbar>div{
    display:flex;
    justify-content:space-around;
    padding:0px;
    width: 35%;
    margin-right: 40px;
 
}
#navbar>div>a{

    font: 17px inter,sans-serif;
    font-weight:lighter bold;
    color:white
}
a{
    display:flex;
    align-items:center;
    justify-content: space-between;

}
a>*{
    margin-left:7px;
}

.content{
    height:auto;
   display:flex;
   margin:auto;
}


#cont>h2{
margin-top:60px;
margin-left: 20%;
font-size:30px;
}
.content>div:nth-child(1){
    
    height:auto;
    width:auto;
    margin-left:20%;
    padding:20px;
    background-color: #10847e;
    color:white;
    border-radius:7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;


}
.content>div:nth-child(2){
    
    height:auto;
    width:360px;
    padding:20px;
    background-color: #10847e;
    color:white;
    border-radius:7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-left: 40px;
    font-size: 30px;

}
.content>div:nth-child(2)>p{
    
margin-top: 5px;
}
.content>div:nth-child(2)>p+p{
    
    margin-bottom: 15px;
    }
.content>div:nth-child(2)>button{
    border-radius:25px;
    width:90%;
    height:40px;
    text-align: center;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    font-weight: bold;
    margin:auto;
    }


div:nth-child(1)>img{
    width:20px;
    border-radius:9px;
}
div:nth-child(1)>img+p{
  margin-right: 20px;
  margin-left: 6px;
}

.content>div >div{
    width:100%;
    border-radius:7px;
}
.content>div>div>input{
    width:60%;
    height: 53px;
    font-size:18px;
    border:none;
    text-align:center;
}
.content>div:nth-child(1)>*{
    display:flex;
    align-items:center;
    
}
button>img{
    width:30px;

}
button{
    display:flex;
    background-color:white;
    border: none;
    height:55px;
}
div>button:nth-child(1){
    width:200px;
    font-size:20px;
    justify-content: space-between;
    align-items: center;
    border-radius:5px 0px 0px 5px;
    color:rgb(0, 122, 128);
    border-right: 1px solid rgb(205, 201, 201);


}
input+button{
border:none;
border-radius:0px 5px 5px 0px;
align-items: center;
border-left: 1px solid rgb(205, 201, 201);

}


.article{
    display:flex;
    margin:auto;
    width:60%;
    height:300px;
    

}
.article>div{
    width:30%;
    margin-top:20px;


}
.article>div>img{
    width:50px;
    margin-top: 1px;
}
.article>div>p{
    margin-bottom:0px;
    font-size:17px;
}


.show{
    height:auto;
    display:flex;
    width:50%;
    padding:30px;
    margin-left: 220px;;
}
.show>div>p{
    font-size:20px;
}
.show>div>img{
    width:55%;
}
.show>div>div{
    display:flex;
    justify-content:space-evenly;
}

div>a:nth-child(1)>img{
    width:150px;
}
div>a:nth-child(2)>img{
    width:260px;
    padding:0px;
}

#footer {
    height:800px;
    width:100%;
    margin :auto;
    margin-bottom:10px;
    background-color: rgb(228, 242, 253);

}
#footer>div:nth-child(1){

    display:flex;
    justify-content: space-around;
    padding:10px 150px 20px 150px; 

}
#footer>div:nth-child(2)>div{

    display:flex;
    justify-content: space-evenly;
    padding:10px 150px 20px 150px; 

}
#footer>div:nth-child(2)>div>div:nth-child(1){
    width:70%;
    display:bolck;
    display:flex;
  flex-wrap:wrap;
  
  }
  #footer>div:nth-child(2)>p{
padding-left: 200px;
font-size: 20px;
font-weight: bold;
  
  }
  #footer>div:nth-child(2)>div>div:nth-child(1)>img{
    width:auto;
    height:40px;
  
  
  }
#footer>div>div>div>img{
    width:35px;
    margin-left:10px;
}


p+div>div>img{
    width:35px;
}

#container{
    
    position:fixed;
    top:90px;
    width: 30%;
    height: 720px;
    transform: translateX(+400px);
    margin:auto;
    margin-left:43.8%;
position:absolute;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
background-color:white;
visibility: hidden;
opacity: 0;
transition:0.5s;

}
.nav{
    width: 100%;
    padding: 10px;
    height:70px;
    background-color:rgb(0, 128, 119);

}
.nav>img{
    position: relative;
    width: 40%;
    margin-top: 10px;
}
form{
    padding:20px;

}


form+div{
    display:flex;
}
form+div>*{
    display:flex;
    margin-left:20px;
}
#container>form> input{
    border:none;
    border-radius: 10px;
    width:95%;
    height:40px;
    margin-bottom: 20px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align:center;
  
}
form>p{
    font-size: 20px;
}
input+input{
    background-color:rgb(0, 128, 119);
color:white;
font-weight:bold; 
border:none;
border-radius:5px;
width:97%;
height:40px;
font-size: 15px;
}

/*  for blur */

.view#cont.active{
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}
#container.active{
    visibility:visible;
    opacity: 1;
    transition: 00.5s;
}


 

/*     CART ITEMS     */

#body{
    height:auto;
    display:grid;
    width:80%;
    margin:auto;
    padding:20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:auto;
    gap:20px 40px;
    
    
    }
    #body>a{
        display:flex;
        flex-direction:column;
        grid-template-columns:repeat(4,1fr);
        height:300px;
        margin:auto;
        margin-top: 20px;
        padding:20px;
        border-radius:5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      background-color:rgb(247, 252, 251);
    }
    #body>a>img{
        width:120px;
        margin-bottom:1px;
    }
    #body>a>p{
        margin-top:10px;
        margin-bottom:6px;
    }
    #body>a>p:nth-child(4){
        margin-top:10px;
        margin-bottom:6px;
        color:red;
    }
    #body>a>button{
        border:none;
        border-radius:5px;
        margin-bottom:1px;
        width:100px;
        height:50px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        background-color: aliceblue;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }

    @media all and (min-width: 212px) and (max-width: 640px) {

        #body{
      
            grid-template-columns: repeat(2,1fr);
            grid-template-rows:auto;     
            
            }  

            .content{
                height:auto;
               display:grid;
               grid-template-columns: repeat(1,1fr);
               grid-template-rows: repeat(2,1fr);
               margin:auto;
               gap:20px;
            }
    }